//Vars
$roboto: 'Roboto', sans-serif;

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1439px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';

$col_lg: 120px;
$col_md: 51.2px;
$col_sm: 38.4px;
$col_xs: 16px;

//Colors

$dark: #010101;
$grey: #595959;
$blue: #00b7f4;




