<footer class="footer">
    <div class="footer__wrp">
		<a href="/" class="footer__logo">
			<img src="images/logo.svg" alt="А-Знак">
		</a>
		
		<div class="footer__box caption caption_size_s">
			<a href="#modal_legal" class="footer__legal js-popup-link">
				Политика конфиденциальности
			</a>
			<div class="footer__copy">
				&copy; 2017
			</div>
		</div>
	
		<div class="footer__developer developer">
			<a href="http://kdm1.ru/" class="developer__icon" target="_blank">
				<img src="images/logo_kdm.svg" alt="kdm1"/>
			</a>
		
			<div class="developer__desc">
				Разработано&nbsp;в<br />
				<nobr>
					«<a href="http://kdm1.ru/" target="_blank" class="developer__link">Клинике доброго маркетолога</a>»
				</nobr>
			</div>
		</div>
		
	</div>
</footer>
